@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');



/* Overlay with blur effect */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* dark transparent background */
  backdrop-filter: blur(6px); /* <-- BLUR effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal card */
.modal-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 900px;              /* reduce width */
  max-width: 95%;
  max-height: 80vh;          /* restrict height */
  overflow-y: auto;          /* scroll only inside modal if content too big */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: scaleIn 0.3s ease-out;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #565D6DFF;
}

/* Close button */
.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}
.close-btn:hover {
  color: #000;
}

/* Form */

.modal-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px;
  color: #171A1FFF;
}

.modal-form label{
  font-weight: 500;
  margin-bottom: 6px;
  font-family: 'Lato', sans-serif;
}
.modal-form span{
  color: red;
}

/* Inputs */
.modal-form input[type="text"],
.modal-form input[type="number"],
.modal-form input[type="date"],
.modal-form input[type="tel"],
.modal-form input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

/* Gender group */
.gender-group {
  grid-column: span 3;   /* take full row */
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 8px 0;
}

.gender-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: normal;
}

/* Buttons */
.modal-actions {
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}

.add-btn,
.cancel-btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background: #007bff;
  color: white;
}

.add-btn:hover {
  background: #0056b3;
}

.cancel-btn {
  background: #f1f1f1;
}

.cancel-btn:hover {
  background: #ddd;
}



/* Animation for smooth popup */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
